*{
    margin: 0;
    padding: 0;
    /* background-color: hotpink; */
}

nav{
    background-color: antiquewhite;
    display:flex;
    align-content: center;
    justify-content: space-around;
}
a{
    display: block;
    
    text-decoration: none;
}
