/ p "#{@bookinfo}"
- book = @bookinfo[0]
h4 = book["title"]
p book number: #{book["number"]}
p publiched: #{book["publish_date"]}
p posions drunk: #{book["posions_drunk"]}
p pirat ship shunk: #{book["pirat_ship_shunk"]}
p menhirs: #{book["menhirs"]}
p Artist: #{book["artist"]}
br
h5 charakters
- pepol = @bookinfo[1].uniq

- pepol.each do |person|
    p #{person["name"]}

br    
h5 places
- places = @bookinfo[2].uniq
- places.each do |place|
    p #{place["name"]}